{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-end mb-3">
    <a href="{% url 'cart.items' %}" class="btn btn-primary">Go to cart</a>
</div>
<div class="border round">
    <h1 class="my-5">{{ item.pizza_type }}</h1>
    {% for topping in item.toppings.all %}
    <ul>
        <li>{{ topping.name }}</li>
    </ul>
    {% endfor %}
    <p>{{ item.description }}</p>
    <label>Choose Size:</label>
    <select name="size">
        {% for size in sizes %}
        <option> {{size.size}} </option>
        {% endfor %}
    </select>
    <input type="submit" value="Add to Cart">
</div>
{% endblock %}