{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-end mb-3">
    <a href="{% url 'cart.items' %}" class="btn btn-primary">Go to cart</a>
</div>
<h1 class="my-5">These are the menu items:</h1>
<!-- Uses django template to create a list item for each item in the menu (for loop)-->
<div class="row row-cols3 g-2">
    {% for item in menu %}
    <div class="col">
        <div class="p-3 border">
            <a href="{% url 'menu.detail' pk=item.id %}" class="text-dark text-decoration-non">
                <h3>{{item.pizza_type}}</h3>
                <img src="{{item.image_url}}" alt="{{item.pizza_type}}" class="img-fluid">
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}